.about-us{
    display: flex;
    min-height: 720px;
    overflow: hidden;
}
.about-us__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    position: relative;
}
.about-us__image div{
    padding: 32px 64px;
    flex:1;
    display : flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.about-us__image-sushi3{
    border-bottom: 10px solid var(--color-creamson);
    background-image: url(../assets/about_bg1.png);
}
.about-us__image-sushi2{
    background-image: url(../assets/about_bg2.png);
}
.about-us__image-sushi3 img{
    width: 220px;
    height: 190px;
}
.about-us__image-sushi2 img{
    width: 250px;
    height: 150px;
}
.about-us__button{
    position: absolute;
    right:0;
    padding: 12px 32px;
    min-height: 64px;
    background: var(--secondary-color);
    border-radius: 32px 0 0 32px;
    border:0;
    outline:0;
    color: #fff;
    font-family: var(--plus-jakarta-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}
.about-us__button img{
    object-fit: contain;
    margin-left: 32px;
}
.about-us__content{
    padding: 64px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sushi__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
    font-family: var(--plus-jakarta-sans);
    color: var(--primary-color);
    opacity: 0.9;
    letter-spacing: 1;
}
.sushi__title{
    font-size: 70px;
    font-weight: 600;
    font-family: var(--playfair-display);
    color: var(--secondary-color);
    margin-top: 10px;
}
.sushi__description {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--playfair-display);
  
    line-height: 36px;
    letter-spacing: -0.01em;
  
    color: var(--secondary-color);
    opacity: 0.8;
  
    margin: 32px 0px;
  }
    